Act 4.2/Jugueteria/jugueteria.dtd

<!ELEMENT jugueteria (barbie*)>
<!ELEMENT barbie (codigo, año, modelo, comercializacion, fabricacion, publico_edad )>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT año (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT comercializacion (#PCDATA)>
<!ELEMENT fabricacion (#PCDATA)>
<!ELEMENT publico_edad (#PCDATA)>
